@use 'abstracts/variables';

.down-arrow {
    position: absolute;
    text-align: center;
    margin-top: 40px;
    color: #f0f0f0;
}

.github-icon {
    color: #f0f0f0;
    font-size: 35px;
    transition: 0.5s;
}
.github-icon:hover {
    color: variables.$accent-color;
}