@use 'abstracts/variables';
@use 'base/base';
@use 'base/overlay';
@use 'layout/layout';
@use 'layout/footer';
@use 'components/icons';
@use 'components/decor';

@font-face {
    font-family: "GT America";
    src: url("/static/fonts/GTAmerica-Light.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "GT America Mono";
    src: url("/static/fonts/GTAmericaMono-Light.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "GT America Expanded";
    src: url("/static/fonts/GTAmerica-ExpandedBold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Monument";
    src: url("/static/fonts/monumentextended-regular-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: variables.$bg-color;
    color: variables.$text-color;
    font-family: 'GT America';
}