@use 'abstracts/variables';

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 50px;
    background-color: darken(variables.$bg-color, 30%);
    color: white;
    text-align: center;

    img {
        width: 3%;
        padding: 5px;
        margin-left: -70%;
    }

    p {
        margin-left: -63%;
        font-size: 25px;
        margin-top: -43px;
    }
}

.float--right {
    margin-right: -60%;
    margin-top: -32px;
}
  